body {
  width: 100%;
  margin: 0px;
  background-color: #e098eb;
}

.content {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  height: 65px;
  background-color: rgb(24, 73, 179);
}

.container {
  height: 65px;
  display: flex;
  align-items: center;
}

.nawbar-wrap {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-img {
  position: relative;
  top: 20px;
}

.navbar-manu li {
  line-height: 32px;
  font-weight: 700;
  font-size: 20px;
  padding: 32px;
  display: inline-block;
  list-style: none;
  padding-top: 0px;
}

ul {
  margin: 0;
}

.navbar-manu li a {
  padding-right: 2px;

  top: 15px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
}

.callback {
  position: relative;
  top: 15px;
  padding-right: 1px;
}

.ua {
  position: relative;
  bottom: 10px;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: white;
  margin-right: 20px;

  display: inline-block;
}
/* midle */
.midle-top {
  margin: auto;
  height: 85px;
  background-color: #bff0ff;
}

.midle-intop {
  margin: auto;
  padding-top: 8px;
  font-family: "PT Sans";
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  width: 1350px;
}

.bron {
  background-color: #ffffff;
  width: 1321px;
  height: 57px;
  margin: auto;
  margin-top: 27px;
  top: 176px;
}

.callback {
  display: inline-block;
}

.inbron {
  padding-left: 501px;
  padding-top: 10px;
  font-family: PT Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.61);
}
/* midle# */
.midle1 {
  margin: auto;
  width: 1321px;
  height: 300px;
  margin-top: 30px;
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
}

.midle1:hover {
  background: #2cbdeb;
  box-shadow: 0px 0px 60px 4px #2cbdeb;
}

.midle1-img {
  display: inline-block;
  padding-left: 30px;
  padding-top: 33px;
  position: relative;
}

.zirka {
  width: 49px;
  height: 47px;
  position: absolute;
  top: 30px;
  left: 780px;
  background-image: url(./img5/zvezda.png);
}

.midle1:hover .zirka {
  background-image: url(./img5/zvezda2.png);
}

.button1 {
  width: 101px;
  height: 101px;
  position: absolute;
  background-image: url(./img5/фон\ кнопки\ вверх.png);
  top: 150px;
  left: 800px;
}

.button2 {
  padding-top: 25px;
}

.but {
  font-size: 24px;
  color: white;
  background-color: #243b93;
  width: 210px;
  height: 46px;
  border-radius: 30px;
  position: absolute;
  left: 680px;
  top: 250px;
  border: none;
}

.midle-main {
  padding-left: 20px;
  position: relative;
  bottom: 120px;
  display: inline-block;
  font-family: "PT Sans";
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}

.texth1 {
  position: relative;
  top: 30px;
  margin: 0px;
  text-align: left;
}

.midle-text2 {
  width: 740px;
  height: 200px;
  font-size: 16px;
  background-color: white;
}

.midle1-text {
  color: #202846;
  position: relative;
  top: 10px;
  left: 10px;
  text-align: left;
  line-height: 20px;
  width: 500px;
  height: 112px;
}
/* midle2 */
.midle2 {
  display: inline-block;
  width: 1321px;
  height: 300px;
  margin-left: 299px;
  margin-top: 30px;
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
}

.midle1:hover .but {
  background-color: #ef075b;
}
